header#main-header {
  display: flex;
  justify-content: center;
  background: #ffa;
  height: 4.5rem;
  border-bottom: 1px solid #DDD;
}

header#main-header .header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 980px;
  padding: 0 30px;
}